*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Segoe UI', sans-serif;
    background-color: #f0f2f5;
    color: #222;
    line-height: 1.6;
}

header{
    background-color: #1a1a2e;
    color: #fff;
    padding: 24px 32px;
}

header h1{
    font-size: 1.4rem;
    font-weight: 500;
}

nav{
    background-color: #2A2A4B;
    padding: 0px 32px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li a{
    display: block;
    padding: 14px 16px;
    color: #c9c6c6;
    text-decoration: none;
    font-size: 0.9rem;
}

nav ul li a:hover{
    color: #fff;
    background-color: #3B3B68;
}

main{
    max-width: 800px;
    margin: 32px auto;
    padding: 0px 24px;
}

main section{
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 32px;
    margin: 10px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

section h2{
    font-size: 1.3rem;
    color: #1a1a2e;
    margin-bottom: 8px;
    padding-bottom: 8px;
}

section h3{
    font-size: 1.1rem;
    color: #333;
    margin-bottom: 10px
}

section p{
    color: #444;
    margin-bottom: 12px;
}

section ul, section ol{
    padding-left: 40px;
    color: #444
}

section li{
    margin-bottom: 6px;
}

footer{
    background-color:#2A2A4B;
    color: #c9c6c6;
    text-align: center;
    padding: 20px;
}